
.bg-success {
  background: #00c851;
}

.bg-danger {
  background: #ff4444;
}

.bg-warning {
  background: #ffbb33;
}

.status {
  background: #ffffff;
  position: relative;
  height: 38px !important;
  margin-top: -17.5px;
  background-color: white;
  .waves-effect {
    cursor: unset;
  }
  .badge {
    div {
      color: #bdbdbd ;  
      .custom-control-label::after,
      .custom-control-label::before {
        display: none;
      }
      .title {
        line-height: 30px;
        font-size: $font-size-lg-1;
        cursor: pointer;
        letter-spacing: 0.3em;
      }
    }
  }
}