$bg-color: #f8f8f9;
$color-success: #25de8c;
$top-background: #4a58ff;
$tag-bg: #eff2f7;
$tag-bg-hover: #bdbfc4;
$text-smoke-color: #b7c2cf;
$text-smoke-hover: #e0e0e0;
$text-title-color: hsl(218, 10%, 65%);
$text-content-color: #42505f;
$text-name-size: 2rem;
$text-name-size-1: 1.5rem;
$font-size-lg: 1rem;
$font-size-lg-1: 1.1rem;
$font-size-lg-2: 0.8rem;
$font-size-md: 0.9rem;
$font-size-sm-1: 0.5rem;
$font-size-sm: 0.7rem;

#download_button:hover {
  cursor: pointer;
}
.rcorners{
  border-radius: 6px;
}
.container {
  max-width: 1350px;
}

* {
  font-size: $font-size-md;
  font-style: normal;
}

.mt-150-negative {
  margin-top: -150px;
}

.w-60 {
  width: 60% !important;
}

.ico {
  min-width: 13px;
}

.text-content {
  font-size: $font-size-md !important;
}

.top-wrapper {
  min-height: 150px;
}

.top-wrapper {
  min-height: 250px;
  width: 100%;
  background: $top-background;

  .bg-left {
    box-sizing: content-box;
    width: 212px;
    height: 200px;
    position: absolute;
    top: 10vh;
    left: 0%;
    background: url(../../../assets/image/left-blob.svg) no-repeat;
    object-fit: cover;
    background-size: cover;
    z-index: 0;
  }

  .bg-right {
    width: 221.18px;
    height: 191.48px;
    object-fit: cover;
    background: url(../../../assets/image/blob.svg) no-repeat;
    position: absolute;
    top: 10vh;
    right: 30px;
    z-index: 0;
  }
}

.interviewee-details {
  background: $bg-color;

  .status-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: $font-size-md;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
  }

}

.text-heading {
  text-transform: uppercase;
  position: relative;
  font-size: $font-size-lg-1;
  font-style: normal;
  white-space: nowrap;
}

.mt-line {

  &::after {
    content: '';
    position: relative;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 28px;
    margin-left: 15px;
  }
}

.mt-line-2 {

  &::after {
    content: '';
    position: relative;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 28px;
    
  }

  &::before {
    content: '';
    position: relative;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin-top: 28px;
    
  }
}


.noti h6::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: lightgray;
}

.public-links {
  list-style: none;
}

.card-xs-container {
  width: 80%;
}

// Technique session
.techniques-name {
  font-weight: 500;
  font-size: $font-size-md;
}

.level-attach {
  .level-rate {
    font-size: $font-size-sm-1;

    .level {
      width: 20px;
      height: 7px;
      margin: 4px;
      background: $tag-bg;
      border-radius: 3px;
    }

    .level.checked {
      background: $color-success;
    }
  }
}

// End technique

.contact {
  font-size: $font-size-md;
}

@media screen and (max-width: 1024px) {
  .interviewee-details {
    width: 100%;
  }

  .w-60 {
    width: 100% !important;
  }

  .bg-left {
    display: none;
  }

  .bg-right {
    display: none;
  }


}

@media screen and (max-width: 768px) {

  .top-wrapper{
    min-height: 150px !important;
  }

  .interviewee-details {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .top-wrapper{
    min-height: 150px !important;
  }
  .card-xs-container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .interviewee-details {

    .card-heading {
      margin: -30px 0px 0px 0px;
      padding: 0px;
    }


  }
}
@media screen and (max-width: 575px) {
  .top-wrapper{
    min-height: 200px !important;
  }
}


@media screen and (max-width: 320px) {
  .container {
    width: 100% !important;
    max-width: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  * {
    font-size: $font-size-sm !important;
  }


  .top-wrapper {
    min-height: 180px !important;
  }

  .text-heading {
    font-size: $font-size-lg-2 !important;
  }

  .card {
    .card-top {
      height: 60px !important;
    }
  }

  .card-xs-container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.error_msg{
  position: initial !important;
}