<!-- Header  -->
<div class="top-container" >
  <app-navbar></app-navbar>
</div>
<!-- End Header  -->

<div class="m-container" style="min-height: 91vh;">
  <router-outlet></router-outlet>
</div>

<!-- bottom footer  -->
<div class="footer-container">
  <app-footer></app-footer>
</div>

<!-- End bottom footer  -->