<form [formGroup]="hiddenForm" class="w-100 pl-3"  >
  <div class="row w-100" [class.hidden]="hiddenForm">
    <div class="col-md-5 mt-5">
      <div class="row">
        <div class="col-12 d-flex justify-content-start mt-line p-0">
          <h6 class="font-weight-bold my-3 text-heading">Techniques </h6>
        </div>
        <div class="col-12 text-md p-0">
          <!-- Grid row -->
          <div class="form-group  d-flex flex-column justify-content-start align-items-start">
            <!-- Material input -->
            <label for="date_schedule" class="col-form-label title ">Add list :</label>
            <div class="col-sm-12 w-100 p-0">
              <div class="md-form m-0 p-0 ">
                <app-tags-input (tagChange)="retriveTag($event)" ></app-tags-input>
              </div>
            </div>
          </div>
          <!-- Grid row -->
          <!-- Grid row -->
          <div class="form-group h-60-px  d-flex justify-content-between align-items-center">
            <!-- Material input -->
            <label for="english" class="col-form-label title">English skill:</label>
            <div class="col-sm-9">
              <div class="md-form mt-0">
                <input mdbInput type="text" class="form-control text-md mt-3" formControlName="englishSkill" id="english" placeholder="English skill">
              </div>
            </div>
          </div>
          <!-- Grid row -->
        </div>
      </div>
    </div>
    <div class="col-md-1 d-sm-none d-md-block d-lg-block">

    </div>
    <div class="col-md-6 p-0 mt-5">
      <div class="row">
        
        <div class="col-12 d-flex justify-content-start mt-line pl-xl-5">
          <h6 class="font-weight-bold my-3 text-heading">Note</h6>
          
        </div>
     
        <div class="col-12 text-md pl-xl-5 p-0">
          <!-- Grid row -->
          <div  *ngFor="let validation of skill_message_validation.interviewerNote">
            <mdb-error class="error_msg"
              *ngIf="hiddenForm.get('interviewerNote').hasError(validation.type) && hiddenForm.get('interviewerNote').touched">
              {{validation.message}}
            </mdb-error>
          </div> 
          <div class="form-group w-100 d-flex justify-content-between align-items-center">
            <div class="col-sm-12">
              <div class="md-form mt-0 w-100">
                <textarea type="text" id="note"  formControlName="interviewerNote" class="form-control m-h-150 p-2 w-100" placeholder="some note..."
                  mdbInput></textarea>
               
              </div>
            </div>
          </div>
          
          <!-- Grid row -->
        </div>
      </div>
    </div>
    
  </div>

</form>