<div class="card-top"></div>

<div class="avatar view rgba-white-slight waves-light" mdbWavesEffect>

  <img [src]="avatar ? API + '/api/view/' + id + '/' + avatar : defaultAva"
    class="rounded-circle img-thumbnail">
  <a>
    <div class="mask"></div>
  </a>
</div>


<mdb-card-body class="card-heading d-flex justify-content-end">
  <mdb-card-title class="heading-option">
    <div class="col-12"> <span class="text-name font-weight-bold">{{fullname}}</span></div>

  </mdb-card-title>
</mdb-card-body>
