$text-name-size: 2rem;
$text-name-size-1: 1.5rem;
$text-name-size-2: 1.1rem;
$text-name-size-3: 0.9rem;
$font-size-sm-1: 0.5rem;
$font-size-lg-1: 1.1rem;
$font-size-md: 0.9rem;
$font-size-sm: 0.7rem;

.card-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background: url("https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg") center no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.avatar {
  width: 210px;
  height: 210px;
  display: block;
  position: relative;
  margin: 100px 0px 20px 100px;

  img {
    width: 210px;
    height: 210px;
    object-fit: cover;
  }
}

.card-heading {
  margin: -100px 40px 0px 0px;
  padding: 0px;

  .heading-option {
    .text-name {
      font-size: $text-name-size !important;
      font-style: normal
    }

    .tag-container {
      .tag {
        height: 23px;
        cursor: pointer;
        padding-top: 3px;
      }

      .tag span {
        font-size: $font-size-sm-1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .avatar {
    width: 150px !important;
    height: 150px !important;
    display: block !important;
    position: relative !important;
    margin: 120px 0px 50px 70px !important;

    img {
      width: 150px !important;
      height: 150px !important;
    }
  }

  .card-heading {
    margin: -100px 50px 0px 0px !important;
    padding: 0px;

    .heading-option {
      .text-name {
        font-size: $text-name-size-1 !important;
      }

      .tag-container {
        .tag {
          height: 23px !important;
          cursor: pointer !important;
          padding-top: 3px !important;
        }

        .tag span {
          font-size: $font-size-sm-1 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card-heading {
    margin: -100px 50px 0px 0px !important;
    padding: 0px !important;
  }

  .avatar {
    width: 150px !important;
    height: 150px !important;
    display: block !important;
    position: relative !important;
    margin: 120px 0px 50px 20px !important;

    img {
      width: 150px !important;
      height: 150px !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .avatar {
    width: 120px !important;
    height: 120px !important;
    display: block;
    position: relative;
    margin: 50px 0px 0px 40px !important;

    img {
      width: 120px !important;
      height: 120px !important;
    }
  }

  .card-top {
    max-height: 100px !important;
  }

  .card-heading {
    margin: -50px 50px 0px 0px !important;
    padding: 0px;

    .heading-option {
      .text-name {
        font-size: $text-name-size-1 !important;
      }

      .tag-container {
        .tag {
          height: 23px;
          cursor: pointer;
          padding-top: 3px;
        }

        .tag span {
          font-size: $font-size-md;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
    .avatar {
      width: 100px !important;
      height: 100px !important;
      display: block;
      position: relative;
      margin: 50px 0px 0px 40px !important;
  
      img {
        width: 100px !important;
        height: 100px !important;
      }
    }
  
    .card-top {
      max-height: 100px !important;
    }
  
    .card-heading {
      margin: -50px 20px 0px 0px !important;
      padding: 0px;
  
      .heading-option {
        .text-name {
          font-size: $text-name-size-2 !important;
        }
  
        .tag-container {
          .tag {
            height: 23px;
            cursor: pointer;
            padding-top: 3px;
          }
  
          .tag span {
            font-size: $font-size-md;
          }
        }
      }
    }
  }

@media screen and (max-width: 320px) {
  .card-top {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  }

  .avatar {
    width: 70px !important;
    height: 70px !important;
    margin: 40px 0px 0px 20px !important;

    img {
      width: 70px !important;
      height: 70px !important;
      object-fit: cover;
    }
  }

  .card-heading {
    margin: -40px 0px -50px 10px !important;
    padding: 10px !important;

    .heading-option {
      .text-name {
        font-size: $text-name-size-3 !important;
      }

      .tag-container {
        .tag span {
          font-size: $font-size-sm;
        }
      }
    }
  }

  .card-top {
    height: 60px !important;
  }
}
